# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# OS
.DS_Store

# Editors / IDEs
.idea
.vscode

# Local env files
.env
.env.*
!.env.example
*.pem

# Node
node_modules/
